@model testmvc.Models.Customer

@{
    ViewData["Title"] = "Delete";
}

<h3 class="text-center mt-4" style="color:red!important; margin-top:50px;">Delete Customer</h3>



<div class=" mt-4 row  d-flex justify-content-center">
    <h5 class="text-center">Are you sure you want to delete this?</h5>
    <div class="col-md-4">
        <hr />
        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.CustomerId)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.CustomerId)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.FirstName)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.LastName)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.LastName)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Mobile)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Mobile)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Address)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Address)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.CountryName)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.CountryName)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.StateName)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.StateName)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.CreatedDate)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.CreatedDate)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.IsActive)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.IsActive)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-action="Index">Back to Customer</a>
        </form>
    </div>
</div>
